
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    color: lightgrey;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    
    border-bottom: 1px solid lightgrey;
    list-style: none;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
}

h1 {text-align: center;}

input {
    border: none; 
    width: 100%;
    outline: none;
}

.contenedor li i {
    float: right;
}

.counter {
    margin-top: 10px;
    font-size: 20px;
}

.one .two {
    border: 1px solid lightgrey;
}

.paper {
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }
